html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #e6e6e6;
}

header {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #e6e6e6;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9800;
}

main {
    padding: 20px;
}

.intro, .content {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intro img, .content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.astronaut {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.astronaut img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    color: #ff9800; /* Cor de destaque */
    margin-bottom: 10px;
}

.description {
    background-color: #333;
    color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
    line-height: 1.6;
}

.rovers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rovers-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    text-align: center;
}/* estilo.css */
a:hover {
    color: yellow;
}